
MauiBlazorAppDemo/.vs/ProjectEvaluation/mauiblazorappdemo.app.projects.v2
MauiBlazorAppDemo/.vs/ProjectEvaluation/mauiblazorappdemo.app.metadata.v2
MauiBlazorAppDemo/.vs/MauiBlazorAppDemo.App/FileContentIndex/read.lock
MauiBlazorAppDemo/.vs/MauiBlazorAppDemo.App/FileContentIndex/42cf1594-7e4e-433d-8c1d-165ddaf21ce7.vsidx
MauiBlazorAppDemo/.vs/MauiBlazorAppDemo.App/DesignTimeBuild/.dtbcache.v2
